.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: #6e3ec8d3;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    overflow: hidden;
    padding: 40px 0;
}

.logo {
    display: flex;
    align-items: center;
    filter: invert(1);
    mix-blend-mode:lighten;
    width: 350px;
    height: auto;
    color: white;
}

.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    font-size: 1em;
}
.navbar-signup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
    font-size: 1em;
    font-weight: bold;
    .navbar-item{
        margin: 0 10px;
        list-style: none;
        width: auto;
        background-color: white;
        color: black;
        padding: 10px 15px;
        border-radius: 0.5em;
        .navbar-link{
            color: black;
            text-decoration: none;
        }
    }
    .navbar-item:hover{
        background-color: rgb(180, 180, 180);
    }
}
.navbar-menu .navbar-item:hover::after{
    content: "";
    display: block;
    width: 100%;
    background-color: white;
    height: 3px;

}


.navbar-item{
    margin: 0 10px;
    list-style: none;
}

.navbar-menu .navbar-link{
    color: white;
    text-decoration: none;
}